.mainFooter
  text-align center
  padding 4rem
  @media screen and (max-width 768px)
    padding 2rem
  &__caption
    font-size 2rem
    @media screen and (max-width 768px)
      font-size 1.5rem
      padding-bottom .5rem
  &__description
    padding 2rem 20%
    @media screen and (max-width 768px)
      padding 1rem 0