.introduction
  padding 6rem
  background #fff
  color rgba(0,0,0,.3)
  &__header
    color rgba(0,0,0,.8)
    font-weight 100
    fon-size 4rem
    &:after
      background-image: linear-gradient(90deg, #efa8b0, #a89cc8, #8cc9f0);
      display: block;
      content: '';
      width: 3.25em;
      height: 2px;
      margin: 0.7em 0 1em 0;
      border-radius: 2px;
  &__image
    position relative
    padding 1rem
    border 1px solid rgba(0,0,0,.2)
    border-radius 100%
    & img
      width 100%
      border-radius 100%
  &__info
    font-size 1.4rem
    padding-bottom 1rem