.introduction
  padding 5rem
  @media screen and (max-width 768px)
    padding 2rem
    text-align center
  &__header
    color rgba(0,0,0,.8)
    font-size 2rem
    font-weight 100
      @media screen and (max-width 768px)
        position relative
  &__image
    position relative
    padding 1rem
    border 1px solid rgba(0,0,0,.2)
    border-radius 100%
    & img
      width 100%
      border-radius 100%
  &__info
    font-size 1.4rem
    padding-bottom 1rem
