.statistics
  text-align center
  padding-bottom 6rem
  &__caption
    font-size 2rem
  &Board
    list-style-type none
    padding 0 2rem
    &__item
      color #fff
      display inline-block
      padding 2rem 4.5rem
      line-height 1.7rem
      @media (min-width 768px) and (max-width 1268px)
        padding 2rem 3rem
      &_forks
        border-top-left-radius 5px
        border-bottom-left-radius 5px
        background #EFA8B0
      &_projects
        background #C79CC8
      &_populate
        background #A89CC8
      &_support
        background #9BB2E1
      &_partners
        border-top-right-radius 5px
        border-bottom-right-radius 5px
        background #8CC9F0
  &__description
    box-sizing border-box
    padding 2rem 6rem
    text-align left
    @media screen and (max-width 768px)
      padding 2rem
  &Description
    &__item
      padding 0 2rem