section.contacts
  .row
    .col-md-6.contacts__info
      h3.contacts__caption Aliquam sed mauris
      p.contacts__description
        |Sed lorem ipsum dolor sit amet et nullam consequat feugiat consequat magna adipiscing tempus etiam dolore veroeros. eget dapibus mauris. Cras aliquet, nisl ut viverra sollicitudin, ligula erat egestas velit, vitae tincidunt odio.
      a(href="#").button Learn More
    .col-md-offset-6.contacts__links
      h3.contacts__caption Etiam feugiat
      ul.contactsList
        li.contactsList__item.contactsList__item_address
          |1234 Somewhere Road • Nashville, TN 00000 • USA
        li.contactsList__item.contactsList__item_phone
          |(000) 000-0000 x 0000
        li.contactsList__item.contactsList__item_email
          a(href="#").link_dotted information@untitled.tld
      ul.contactsPartnersList
        li.contactsPartnersList__item.contactsPartnersList__item_twitter
          i.fa.fa-twitter.fa-1x
        li.contactsPartnersList__item.contactsPartnersList__item_facebook
          i.fa.fa-facebook.fa-1x
        li.contactsPartnersList__item.contactsPartnersList__item_instagram
          i.fa.fa-instagram.fa-1x
        li.contactsPartnersList__item.contactsPartnersList__item_github
          i.fa.fa-github.fa-1x
        li.contactsPartnersList__item.contactsPartnersList__item_dribbble
          i.fa.fa-dribbble.fa-1x
  .contacts__copyright
    © Untitled. Design: <a href="#" class="link_dotted">HTML5 UP</a>. Demo Images: <a href="#" class="link_dotted">Unsplash</a>.