header.mainHeader
  .mainHeader__label
    i.fa.fa-rocket.fa-2x(aria-hidden="true")
  h1 Stellar
  p.mainHeader__info.
    Just another free, fully responsive site template<br>
    built by <a href="#" class="link_dotted">@ajlknM</a> for <a href="#" class="link_dotted">HTML5 UP</a>.