.introduction#Introduction
  .row
    .col-md-4.col-xs-0.col-md-push-8
      .introduction__image
        img(src="images/pic01.jpg")
    .col-md-7.col-xs-0.col-md-pull-4
      h2.introduction__header.
        Ipsum sed adipiscing
      hr.line_caption
      p.introduction__info.
        Sed lorem ipsum dolor sit amet nullam consequat feugiat consequat magna adipiscing magna etiam amet veroeros. Lorem ipsum dolor tempus sit cursus. Tempus nisl et nullam lorem ipsum dolor sit amet aliquam.
      a(href="#").button Learn More
