.nav.navbar
  ul.navbar__list
    li.navbar__item
      a(href="#Introduction").navbar__link.
        Introduction
      a(href="#Portfolio").navbar__link.
        Portfolio
      a(href="#Statistics").navbar__link.
        Statistics
      a(href="#GetStarted").navbar__link.
        Get Started