.nav.navbar
  ul.navbar__list
    li.navbar__item
      a(href="#").navbar__link.
        Introduction
      a(href="#").navbar__link.
        Portfolio
      a(href="#").navbar__link.
        Statistics
      a(href="#").navbar__link.
        Get Started