.service.row#Portfolio
    h2.service__caption 
      |Magna veroeros
    .row
      .col-lg-4.serviceItem.col-md-6
        .serviceItem__image.serviceItem__image_code
          i.fa.fa-code.fa-3x
        h3.serviceItem__caption 
          |Lorem ipsum.
        p.serviceItem__description 
          |Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, dolorem.
      .col-lg-4.serviceItem.col-md-6
        .serviceItem__image.serviceItem__image_doc
          i.fa.fa-files-o.fa-3x
        h3.serviceItem__caption
          |Lorem ipsum.
        p.serviceItem__description
          |Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, quos!
      .col-lg-4.serviceItem.col-md-12
        .serviceItem__image.serviceItem__image_diamond
          i.fa.fa-diamond.fa-3x
        h3.serviceItem__caption
          |Lorem ipsum.
        p.serviceItem__description
          |Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, officiis.
    a(href="#").button Learn More