.service.row
    h2.service__caption 
      |Magna veroeros
    .col-md-3.serviceItem
      .serviceItem__image
        i.fa.fa-code.fa-3x
      h3.serviceItem__caption 
        |Lorem ipsum.
      p.serviceItem__description 
        |Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, dolorem.
    .col-md-3.serviceItem
      .serviceItem__image
        i.fa.fa-files-o.fa-3x
      h3.serviceItem__caption
        |Lorem ipsum.
      p.serviceItem__description
        |Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, quos!
    .col-md-3.serviceItem
      .serviceItem__image
        i.fa.fa-diamond.fa-3x
      h3.serviceItem__caption
        |Lorem ipsum.
      p.serviceItem__description
        |Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, officiis.
    a(href="#").button Learn More