.statistics#Statistics
  h3.statistics__caption Ipsum consequat
  hr.line_caption
  p 
  |Donec imperdiet consequat consequat. Suspendisse feugiat congue
  br
  |posuere. Nulla massa urna, fermentum eget quam aliquet.
  ul.statisticsBoard
    li.statisticsBoard__item.statisticsBoard__item_forks
      i.fa.fa-code-fork.fa-3x
      br
      <strong>5,120</strong>
      br
      |Etiam
    li.statisticsBoard__item.statisticsBoard__item_projects
      i.fa.fa-folder-open-o.fa-3x
      br
      <strong>8,192</strong>
      br
      |Magna
    li.statisticsBoard__item.statisticsBoard__item_populate
      i.fa.fa-signal.fa-3x
      br
      <strong>2,048</strong>
      br
      |Tempus
    li.statisticsBoard__item.statisticsBoard__item_support
      i.fa.fa-laptop.fa-3x
      br
      <strong>4,096</strong>
      br
      |Aliquam
    li.statisticsBoard__item.statisticsBoard__item_partners
      i.fa.fa-diamond.fa-3x
      br
      <strong>1,024</strong>
      br
      |Nullam
  .row.statistics__description
    .col-md-5.statisticsDescription__item
      p
        |Nam elementum nisl et mi a commodo porttitor. Morbi sit amet nisl eu arcu faucibus hendrerit vel a risus. Nam a orci mi, elementum ac arcu sit amet, fermentum pellentesque et purus. Integer maximus varius lorem, sed convallis diam accumsan sed. Etiam porttitor placerat sapien, sed eleifend a enim pulvinar faucibus semper quis ut arcu. Ut non nisl a mollis est 
    .col-md-5.statisticsDescription__item
      p
        |Nam elementum nisl et mi a commodo porttitor. Morbi sit amet nisl eu arcu faucibus hendrerit vel a risus. Nam a orci mi, elementum ac arcu sit amet, fermentum pellentesque et purus. Integer maximus varius lorem, sed convallis diam accumsan sed. Etiam porttitor placerat sapien, sed eleifend a enim pulvinar faucibus semper quis ut arcu. Ut non nisl a mollis est 
  a(href="#").button Learn More