doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css')
    link(rel='stylesheet', href='./style.css')
    title Stellar
  body
    .container-fluid
      include _header.jade
      .container
        .mainWraper
          include _navbar.jade
          include _introduction.jade
          include _service.jade
          include _statistics.jade
          include _footer.jade
