.button
  margin-top 2rem
  display inline-block
  text-decoration none
  color rgba(#000,.4)
  padding 1rem 3rem
  border 1px solid rgba(#000,.2)
  border-radius 8px
  &:hover
    background rgba(#000,.1)
  &_GetStarted
    background #8CC9F0
    margin 2rem
    @media screen and (max-width 768px)
      margin 0
    &:hover
      background rgba(#8CC9F0,.6)
      color rgba(#000,.2)
  @media screen and (max-width 768px)
    padding 1rem 4.5rem