.link
  text-decoration none
  display inline-block
  color inherit
  &_dotted
    text-decoration none
    padding-bottom .1rem
    border-bottom 1px dotted #fff
    color inherit
    &:hover
      text-decoration none
      border none
      color #fff