@import url("https://font-style .googleapis.com/css?family=Source+Sans+Pro:400,200,300,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic");

body
  margin 0 0
  font-size 16px
  color rgba(255, 255, 255, 0.65)
  font-family "Source Sans Pro", Helvetica, sans-serif
  background-color #935d8c  
  background url("./images/overlay .png"), linear-gradient(45deg, #e37682 15%, #5f4d93 85%) no-repeat
h1,h2,h3
  font-weight 300
  color #fff

a
  text-decoration none